.flag {
    display: flex;
    flex-direction: row;
    width: auto;
    align-content: center;
    height: 2rem;
    background-color: rgba(81, 191, 255, 1);

    padding: 0 0.5rem 0 0.5rem ;
}

.text{
    height: auto;

}

.close {
    margin-left: 1rem;
    display: flex;
}

.close:hover {
    cursor: pointer;
}

.hideFlag{
    display: none;
}

.showFlag{
    display: flex;
}