<div class="flag @(_isVisible ? "" : "hideFlag")">
	<div class="text">
		@filter_option.First().Value
	</div>
	<div class="close" @onclick="HideFlag" >x</div>
</div>

@code {
	[Parameter]
	public Dictionary<String, String> filter_option { get; set; }

	[Parameter]
	public EventCallback<Dictionary<String, String>> closed_filter { get; set; }

	private bool _isVisible = true;

	public void HideFlag()
	{
		_isVisible = !_isVisible;
		
		StateHasChanged();
	}
}
