.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(50, 50, 50, 1);
    width: 20vw;
    padding-right: 0.8rem;
    border-radius: 0.5rem;
}

.inputSearch {
    background-color: transparent;
    border: none;
    color: white;
    max-width: 20vw;
    width: 90%;
    padding: 0.8rem;
}

.inputSearch:focus{
    outline: none;
}

