

<div class="category-container">
	@foreach (var cate in category)
	{
		<div class="category @(clickedText == cate ? "isClicked" : "isntClicked")" @onclick="() => Selected(cate)">
			@cate
		</div>
	}
</div>

@code {

	[Parameter]
	public List<String> category { get; set; } = [];

	[Parameter]
	public EventCallback<String> OnCategorySelected { get; set; }

	private string? clickedText;

	[Parameter]
	public bool isClicked { get; set; } = false;

	protected override void OnInitialized()
	{
		clickedText = category.Count == 0 ? null : category[0];
	}

	protected override async Task OnParametersSetAsync()
	{
		isClicked = false;
		StateHasChanged();
	}


	private async Task Selected(string cate)
	{
		// Controla o display do filtro e enviar qual filtro foi clicado pro componente pai
		if (isClicked)
		{
			clickedText = string.Empty;
			isClicked = false;
		}
		else
		{
			clickedText = cate;
			isClicked = true;
		}
	
		// Envia os dados pro componente pai
		await OnCategorySelected.InvokeAsync(clickedText);
		
	}

}
