.table {

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 70vw;
    color: #ffff;
    margin-top: 0.5rem;

    counter-reset: item;
    list-style: none;
    list-style-position: inside;
    padding-inline-start: 0px;
}

.pilots {
    margin-top: 0;
}

ol li {
    counter-increment: item;

    padding-left: 2.5rem;
    position: relative;

}

    ol li::before {
        content: counter(item) "#";
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;

        color: white;
        font-weight: bold;
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ol li:nth-child(1)::before {
        color: gold;
    }

    ol li:nth-child(2)::before {
        color: silver;
    }

    ol li:nth-child(3)::before {
        color: #cd7f32;
    }

    .table .pilots {

        padding: 0.5rem 1rem;
        transition: background 0.2s;
        padding: 1rem;
    }
        .table .pilots:first-of-type {
            border-radius: 1rem 1rem 0 0;
        }

        .table .pilots:last-of-type {
            border-radius: 0 0 1rem 1rem;
        }

        .table .pilot:nth-child(odd) {
            background: linear-gradient(to left, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.4));
        }

        .table .pilot:nth-child(even) {
            background: linear-gradient(to right, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.4));
        }

        .table .pilot:hover {
            cursor: pointer;
            background-color: rgba(255,255,255,0.3);
        }

    .table .team {
        padding: 0.5rem 1rem;
        transition: background 0.2s;
        padding: 1rem;

    }

        .table .team:nth-child(odd) {
            background: linear-gradient(to left, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.4));
        }
        .table .team:nth-child(even) {
            background: linear-gradient(to right, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.4));
        }
        .table .team:hover {
            cursor: pointer;
            background-color: rgba(255,255,255,0.3);
        }

.header {
    width: 70vw;
    height: 3rem;
    background: rgba(50, 50, 50, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
    align-items: center;
}

.header-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 10rem;
}