@using System.Net.Http.Json;
@using src.Components.UI.pilot_card;
@using src.Components.UI.team_card
@using src.DTO.pilot
@using src.DTO.teams


@inject HttpClient Http;

<section>
	
		<header>
			<div>
				<button @* @onclick="FilterTeam" *@>
					<i class="fas fa-filter"></i>
				</button>
			</div>
		</header>

		@if (filterOp)
		{
			<ol class="table pilots" >
				@foreach (PilotItems pilot in data)
				{
					<li class="pilot">
						<PilotCard pilot=@pilot />

					</li>
				}
			</ol>
		}
		@if (!filterOp)
		{
			<section class="table teams">
				@foreach (Teams team in teams)
				{
					<div class="team" >
						<TeamCard Teams=@team/>
					</div>
				}
			</section>
			
		}
	

</section>

@code {

	[Parameter]
	public List<PilotItems> data { get; set; }

	[Parameter]
	public bool filterOp { get; set; } = true;

	private List<Teams> teams = new();


}
