@using src.Components.Forms.Pilots

@page "/AddPilot"
@inject HttpClient Http

<PageTitle>Ranking</PageTitle>
<NavMenu></NavMenu>
<main class="content">
	
	<section class="center">
		<h1 class="title">Adicionar Novo Piloto</h1>

		<div class="form-container">
			<CreatePilot />
		</div>
	</section>
</main>



@code {

}
