@using src.Components.Forms.Pilots

@inject HttpClient Http

@page "/AddPilot"

<PageTitle>Ranking</PageTitle>
<NavMenu></NavMenu>

<main class="content">
	

	<h3>Cadastrar Novo Piloto</h3>

	<div class="form-container">
		<CreatePilot />
	</div>
	

</main>



@code {

}
