@using System.Net.Http.Json;
@using src.Common.Filter
@using src.Components.UI.category_filter
@using src.Components.UI.filter_op
@using src.Components.UI.pilot_table;
@using src.DTO.pilot;

@inject HttpClient Http

@page "/ranking"


<PageTitle>Ranking</PageTitle>
<NavMenu></NavMenu>
	@if (@_pilotsList != null){

		<main class="main">

			<section class="center">
				<div class="category">
					<CategoryFilter category=@_categories OnCategorySelected="OnCategorySelected" />
				</div>


			
				<div class="filter">
				@if (filterIsClicked)
				{
					<div class="filterop">
						<FilterOp options=@options_filters filters="NewFilters" />
					</div>
				}


				<button @onclick=IsFilterClicked>
					<i class="fas fa-filter"></i>
				</button>
					
					
				</div>
				@if (_viewPilotList != null)
				{
					<PilotTable data=@_viewPilotList />
				}
				else
				{
					<p> Carregando dados..</p>
				}
			</section>
			
		
		</main>
	}
	else
	{
		<p>Carregando filtros...</p>
	}



@code {

	private List<CategoryPilotsDto> _pilotsList;
	private List<String> _categories;
	private List<PilotItems>? _viewPilotList = null;

	private String SelectedCategory;

	private Filters filters = new();
	private List<String> options_filters = ["Time", "Genero", "Nacionalidade"];
	private bool filterIsClicked = false;

	private async Task OnCategorySelected(string clickedText)
	{
		SelectedCategory = clickedText;
		SetViewList(_pilotsList, SelectedCategory);
		Console.WriteLine(SelectedCategory);
	}

	private void SetViewList(List<CategoryPilotsDto> pilotsList, string category)
	{

		_viewPilotList = pilotsList.Where(c => c.category == category).SelectMany(c => c.pilotDTOs).ToList();
	}

	protected override async Task OnInitializedAsync()
	{
		try
		{
			_pilotsList = await Http.GetFromJsonAsync<List<CategoryPilotsDto>>
			($"http://localhost:5076/pilots?team={filters.Team}&gender={filters.Gender}&nationality={filters.Nationality}");


			_categories = _pilotsList.Select(c => c.category).ToList();
			SetViewList(_pilotsList, _categories[0]);

			Console.WriteLine(_categories);

		}
		catch(Exception er)
		{
			Console.WriteLine(er);
		}
	}

	private void IsFilterClicked()
	{
		filterIsClicked = !filterIsClicked;
	}

	public void NewFilters(Filters filtersSelected)
	{
		filters = filtersSelected;
		Console.WriteLine(filtersSelected);
	}
}
