@inject NavigationManager Navigation

<div class="main">
    <button title="Ranking" class="ranking" @onclick="() => Redirect(Urls[0])">
        <p>
            Ranking
        </p>
    </button>
    <button title="Teams" class="teams" @onclick="() => Redirect(Urls[1])">
        <p>
            Teams
        </p>
    </button>
    <button title="Teams" class="teams" @onclick="() => Redirect(Urls[2])">
        <p>
            Adicionar Piloto
        </p>
    </button>

</div>



@code {

    private List<String> Urls = ["http://localhost:7002/ranking", "http://localhost:7002/teams", "http://localhost:7002/AddPilot"];

    private void Redirect(String url)
    {
        Navigation.NavigateTo(url);
    }
}
