@using src.Components.UI.pilot_card
@using src.DTO.pilot
@using src.DTO.teams
<div class="team-item">
	
	<div class="equip"> 
		@Teams.Team
	</div>

	<div class="container">
		<ul class="table">
		@foreach (PilotItems pilot in Teams.Pilots)
			{
				<li class="pilots">
					<PilotCard pilot=@pilot />
				</li>
			}
		</ul>
	</div>
	

</div>

@code {

	[Parameter]
	public TeamsDto Teams { get; set; }

	
}
