@using src.Components.UI.pilot_card
@using src.DTO.pilot
@using src.DTO.teams
<div class="team-item">
	
	<div class="equip"> 
		@Teams
	</div>

	<div class="pilots">
		@* @foreach (PilotItems pilot in Teams.)
		{
			<div class="pilot">
				<PilotCard pilot=@pilot />

			</div>

	
		} *@
	</div>
	

</div>

@code {

	[Parameter]
	public TeamsDto Teams { get; set; }

	
}
