.team-item{
    
    width: auto;
    height: auto;
}

.table {
    margin-bottom: 0;
    
}

.pilots {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    width: 100%;
}

.pilots:hover{
    cursor: pointer;
}

.container {
    color: white;
}

.equip{
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}